{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="m-5">
    {{#with web}}
        {{#each languages}}
        <b>{{name}}</b>
        <br>
        <b>{{version}}</b>
        <p>{{description}}</p>
            {{#each elements}}
            <b>{{name}}</b>
            <p>{{description}}</p>
                {{#each attributes}}
                <b>{{name}}</b>
                <p>{{description}}</p>
                {{/each}}
            {{/each}}
            {{#each properties}}
            <b>{{name}}</b>
            <p>{{description}}</p>
            <ul>
                {{#each values}}
                <li>
                    {{value}}
                    <br>
                    {{description}}
                </li>
                {{/each}}
            </ul>
            {{/each}}
            {{#each functions}}
            <b>{{name}}</b>
            <p>{{description}}</p>
            <ul>
                {{#each parameters}}
                <li>
                    {{name}}
                    <br>
                    {{tupe}}
                    <br>
                    {{description}}
                </li>
                {{/each}}
            </ul>
            {{/each}}
        {{/each}}
    {{/with}}
    
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}