<div class="col-6 mb-3">
	<div class="card">
	    <img src="{{img}}" class="cart-img-top">
		<div class="m-2">
		{{#if isHot}}					
		<span class="badge rounded-pill text-bg-warning">HOT!</span>						
		{{/if}}
		{{#if isNew}}						
		<span class="badge rounded-pill text-bg-primary">Нове</span>
		{{/if}}
		</div>
		<div class="ms-2 mb-2">
			{{#if isFast}}
			<div>
				<span class="badge text-bg-success">Швидка доставка</span>
			</div>
			{{/if}}
			{{#if isFree}}
			<div>
				<span class="badge text-bg-secondary">Безкоштовна доставка</span>
			</div>
			{{/if}}
		</div>
		<div class="ms-2">
			<h5>{{name}}</h5>
			{{#with review}}
			<p>{{amount}} {{text}}</p>
			{{/with}}
			<h4>{{price}}</h4>
			<p>{{delivery}}</p>
			{{#each buttons}}
			{{#if isPrimary}}
			<div class="mb-2">
				<a href="{{link}}" class="btn btn-primary">{{text}}</a>
			</div>
			{{/if}}
			{{#if isSecondary}}
			<div class="mb-2">
				<a href="{{link}}" class="btn btn-secondary">{{text}}</a>
			</div>
			{{/if}}
			{{/each}}
			{{#each characteristics}}
			<div class="mt-3">
				<ul>
					<li>{{title}}: {{value}}</li>
				</ul>
			</div>
			{{/each}}
		</div>
	</div>
</div>
