
				<div class="card">
					<div class="card-header">
						{{#with title}}
						<h5>{{userName}}</h5>
						<div>{{caption}}</div>
						<div>{{date}}</div>
						{{/with}}
					</div>
					<div class="card-body">
						{{#with reviewBody}}
						<div>
							{{#with seller}}
							<p>{{title}}: {{value}}</p>
							{{/with}}
						</div>
						<div>
							{{#with rating}}
								<p>{{title}}: {{value}}</p>
							{{/with}}
						</div>
						<div>
							{{#each text}}
							<p>{{this}}</p>
							{{/each}}
						</div>
						<div>
							{{#with advantages}}
							<p><b>{{title}}:</b> {{text}}</p>
							{{/with}}
						</div>
						<div>
							{{#with disadvantages}}
							<p><b>{{title}}:</b> {{text}}</p>
							{{/with}}
						</div>
						<div>
							{{#each images}}
							<img src="{{this}}" class="cart-img-top">
							{{/each}}
						</div>

							{{#each coments}}
							<div class="m-4">
								<div class="card">
									<div class="p-2">
										{{#with this}}
										<h5>{{userName}}</h5>
										<p>{{date}}</p>
										<p>{{text}}</p>
										{{/with}}
									</div>
								</div>
							</div>
							{{/each}}

						{{/with}}
					</div>
				</div>
			
